@charset "UTF-8";

body, h1, h2, h3, h4, h5, h6, p, ul, ol, dl, li, dt, dd {
    margin: 0;
    padding: 0;
    list-style: none;
    color: #666;
    font: 12px "微软雅黑";
}

a {
    text-decoration: none;
    color: #999;
}

i,s {
    text-decoration: none;
    font-style: normal;
}

input,img {
    margin: 0;
    padding: 0;
    border: 0 none;
    vertical-align: middle;
    outline-style: none;
}

/*清除浮动*/
.clearfix:before, .clearfix:after {
    content: " ";
    display: table;
}
.clearfix:after {
    clear: both;
}
.clearfix {
    *zoom: 1;
}
/*清除浮动*/

.w0 {
    width: 1180px;
    margin: 0 auto;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.colorred {
    color: #F10215;
}
